{% extends "layouts/app.html" %}

{% block title %}
<title>Contacto</title>
{% endblock %}

{% block content %}
<section class="contacto">
  <h1>Contactame</h1><br>
  <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" class="contacto__input"><br>
  <input type="text" name="telefono" id="Ingresa tu telefono" placeholder="telefono" class="contacto__input"><br>
  <input type="email" name="email" id="email" placeholder="Ingresa tu correo electrónico" class="contacto__input"><br>
  <textarea name="mensaje" id="mensaje" cols="30" rows="5" placeholder="Ingresa tu mensaje"
    class="contacto__input"></textarea><br>
  <button>¡Enviar mensaje!</button>

</section>

{% endblock %}