{% extends "layouts/app.html" %}

{% block title %}
<title>Inicio</title>
{% endblock %}

{% block content %}

<section class="portada">
  <img src="../static/images/portada.jpg" alt="imagen_protafolio" class="img__portada">
  <div class="mydata">
    <h1 class="titulo">¡Bienvenido a mi portafolio!</h1><br>

    <h2 class=myname">Julio Cesar Vargas López</h2>
    <br>
    <ul>
      <li class="datos">Edad: 31 Años</li>
      <li class="datos">Correo: 2.0.jcvl92@gmail.com</li>
      <li class="datos">Tel: (+51)321-961-7461</li>
      <li class="datos">Direccion: Cra. 16 # 200 - 425 (F/blanca - Stder.)</li>
    </ul>
  </div>
</section>



{% endblock %}