{% extends "layouts/app.html" %}

{% block title %}
<title>Inicio</title>
{% endblock %}

{% block content %}

<section class="portada">
  <img src="../static/images/portada.jpg" alt="imagen_protafolio">
  <div>
    <h2>Datos personales:</h2>
    <ul>
      <li>Nombre: Julio Cesar Vargas López</li>
      <li>Edad: 31 Años</li>
      <li>Genero: Masculino</li>
    </ul>
    <h2>Contacto:</h2>
    <ul>
      <li>Correo: 2.0.jcvl92@gmail.com</li>
      <li>Tel: (+51)321-961-7461</li>
      <li>Direccion: Cra. 16 # 200 - 425 (F/blanca - Stder.)</li>
    </ul>
  </div>
</section>



{% endblock %}